#container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 20px;

    #tip {
        background-color: lightgray;
        border-radius: 10px;
        text-align: center;
        border: 3px solid black;
        box-shadow: -4px 4px gray;

        h3{
            text-decoration: underline;
        }

        #inner {
            text-shadow: 3px 2px goldenrod;
            font-size: 20px;
        }
    }

    
}